<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virtucure.practiceforms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginactivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home">
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".viewpatients"
            android:label="@string/title_activity_viewpatients"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".AddForms"
            android:label="@string/title_activity_addforms"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".PatientDetail"
            android:label="@string/title_activity_patient_detail"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".HealthHistory"
            android:label="@string/title_activity_health_history">
        </activity>
        <activity
            android:name=".GeneralHealthScreening"
            android:label="@string/title_activity_general_health_screening"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".DentalAssessment"
            android:label="@string/title_activity_dentalAssessment"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".SchoolHealthcareScreening"
            android:label="@string/title_activity_school_healthcare_screening"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".FormShareActivity"
            android:label="@string/title_activity_form_share"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".ReferredPatientAdministrationsActivity"
            android:label="@string/title_activity_referred_patient_admins"
            android:launchMode="singleTask"/>
        <activity android:name=".ReferredPatientBranchesActivity"
            android:label="@string/title_activity_referred_patient_branches"
            android:launchMode="singleTask"/>
        <activity android:name=".ReferredPatientHridsActivity"
            android:label="@string/title_activity_referred_patient_hrids"
            android:launchMode="singleTask"/>
        <activity android:name=".ReferredPatientCaseRecordsActivity"
            android:label="@string/title_activity_referred_patient_case_records"
            android:launchMode="singleTask"/>
        <activity android:name=".ReferredPatientReferredTimeActivity"
            android:label="@string/title_activity_referred_patient_shared_time"
            android:launchMode="singleTask"/>
        <activity android:name=".ReferredPatientReferredRecordsActivity"
            android:label="@string/title_activity_referred_patient_forms"
            android:launchMode="singleTask"/>
        <activity android:name=".SharedRecordDetailsActivity"
            android:label="@string/title_activity_shared_record"
            android:launchMode="singleTask"/>
        <activity android:name=".DischargeSheetActivity"
            android:label="@string/title_activity_discharge"
            android:launchMode="singleTask" />
        <activity android:name=".GeneralExaminationActivity"
            android:label="@string/title_activity_physical"
            android:launchMode="singleTask" />
        <activity android:name=".CaseRecordFormsMainActivity"
            android:label="@string/title_activity_caserecord_forms"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.virtucure.practiceforms.InvestigationBioChemistry"
            android:label="@string/title_activity_investigation_biochemistry"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.virtucure.practiceforms.InvestigationMicrobiology"
            android:label="@string/title_activity_investigation_microbiology"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.virtucure.practiceforms.InvestigationPathology"
            android:label="@string/title_activity_investigation_pathology"
            android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>
